* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  /* line-height: 28px; */
  letter-spacing: 1px;
}
